[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

django-environ = "*"
django = "*"
xlrd = "*"
uwsgi = "*"
whitenoise = "*"
django-object-actions = "*"
psycopg2 = "*"
django-background-tasks = "*"
django-registration = "*"

[dev-packages]

flake8 = "*"
autoflake = "*"
autopep8 = "*"
honcho = "*"
